html,
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  height: 100vh;
  background-image: url("./assets/blue-gradient.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
}

.banner-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

h1 {
  font-size: 7em;
  font-weight: normal;
  margin: 0;
  margin-left: -8px;
}

h2 {
  font-size: 2em;
  font-weight: normal;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.socials li {
  margin-right: 20px;
}

.socials span {
  color: #e99c50;
}

img {
  max-height: 400px;
  width: auto;
  height: auto;
  border: 5px solid #555;
}

p,
li {
  line-height: 1.5;
}

.banner-text p {
  font-size: 1.2em;
}

section {
  padding: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  section {
    flex-direction: column;
  }
  header {
    flex-direction: column;
  }
}

.about-text {
  margin-right: 10%;
}

.access-interest {
  background-color: #101727;
}

.access-interest h2 {
  color: white;
}

.access-interest ul {
  color: lightgray;
}

.portrait {
  margin-right: 30px;
}

.access-text {
  width: 100%;
  margin-left: 10%;
}

.access-text a {
  color: #e99c50;
}

.contact {
  justify-content: center;
  min-height: 30vh;
}

.contact form {
  height: auto;
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.form-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact form input {
  width: 100%;
  margin-bottom: 20px;
}

.form-section textarea {
  width: 100%;
  margin-bottom: 20px;
}

.form-section label {
  min-width: 100px;
}
