html, body{
  overflow-x: hidden;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  height: 99vh;
  background-image: url("./test-landing.png");
  background-repeat: no-repeat;
  background-size: 98% 98%;
  background-position: center;
}

.banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;
  color: white;
}

h1 {
  font-size: 7em;
}

.banner p {
  font-size: 1.4em;
}

section {
  padding: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  section {
    flex-direction: column;
  }
}

.about-text {
  margin-right: 10%;
}

.access-interest {
  background-color: #2b2b2b;
}

.access-interest h2 {
  color: white;
}

.access-interest ul {
  color: lightgray;
}

img {
  max-height:400px;
  width: auto;
  height: auto;
}

.portrait {
  margin-right: 30px;
}

.access-text {
  width: 100%;
  margin-left: 10%;
}

.contact {
  justify-content: center;
  min-height: 30vh;
}

.contact form {
  height: auto;
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.form-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-section input {
  width: 100%;
}

.form-section textarea {
  width: 100%;
}

.form-section label {
  min-width: 100px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-right: 20px;
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none; 
}

.socials li {
  margin-left: 20px;
}
